<body class="form-layout">
  <form method="POST" class="login-form">
    <center>
      <h1>Login or Signup</h1>
      <div class="text-field">
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          class="username"
        /></div>
      <div class="text-field"><input
          type="text"
          placeholder="Enter password"
          name="password"
          class="password"
        />
      </div>
      <div class="button-container">
        <button formaction="/create-account" class="button">Create account</button>
        <button formaction="/login" class="button">Login</button>

      </div>
    </center>
  </form>
</body>