 <body>
     <center>
      <form method="POST" class="login-form">
<h1>Sign Up for $75 Monthly Plan?</h1>
<div class="button-container">
        <button formaction="/signup" name="membershipoffer" value="true" class="button">Yes</button>
        <button formaction="/signup" name="membershipoffer" value="false" class="button">No</button>
    </div>
    </form>
    </center>
</body>